html {
    font-family: sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Header */

.header {
    height: 80px;
    margin: 0;
    background-color: darkgrey;
}

.logo {
    width: fit-content;
}

.logo-img {
    width: 64px;
    max-width: 100%;
    height: 64px;
    max-width: 100%;
}

.logo-txt {
    font-size: 32px;
    color: white;
    background: linear-gradient(to right, red 0%, red 50%, white 50%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Main */

.main {
    background-color: white;
    min-height: 100vh;
}

/* Container */

.container {
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 1200px;
    max-width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
}

/* Pokemons section */

.pokemons {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    max-width: 1200px;
}

/* Loader */

.loader {
    width: 128px;
}

/* Card */

.card {
    width: 216px;
    max-width: 100%;
    height: 256px;
    max-width: 100%;
    border: 2px black solid;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 7px #888888;
    transition: transform .4s;
    background-color: lightgray;
}

.card:hover {
    transform: scale(1.05);
}

.card-img {
    margin: 10px;
    width: 128px;
    max-width: 100%;
    height: 128px;
}

.card-text {
    margin: 10px;
    font: bold;
    font-size: 24px;
    color: black;
}

.card-button {
    width: 216px;
    max-width: 100%;
    height: 60px;
    height: 100%;
    border-top: 2px black solid;
}

/* Button */

.button {
    width: 140px;
    max-width: 100%;
    height: 40px;
    max-height: 100%;
    cursor: pointer;
    color: white;
    background-color: dodgerblue;
    border: transparent;
    border-radius: 25px;
    transition: transform .3s ease, opacity .3s linear;
}

.button:hover {
    opacity: 75%;
}

.button:active {
    transform: scale(1.05);
}

/* Footer */

.footer {
    height: 70px;
    background-color: darkgrey;
}

.author-txt {
    font: bold;
    font-size: 16px;
}

.author-img {
    width: 64px;
    height: 48px;
}

/* Utilities */

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

@media (max-width:600px) {
    .header {   
        flex-direction: column;
        height: fit-content;
    }
    
    .logo {
        flex-direction: column;
    }
    
    .logo-txt {
        font-size: 20px;
    }

    .card-text {
        font-size: 16px;
    }
    
    .button {
        font-size: 16px;
    }
}

@media (min-width:600px) {
    .pokemons {
        grid-template-columns: auto auto;
    }
}

@media (min-width:900px) {
    .pokemons {
        grid-template-columns: auto auto auto;
    }
}

@media (min-width:1200px) {
    .pokemons {
        grid-template-columns: auto auto auto auto;
    }
}